/* 色の定義 */
:root {
  --background: #fffffe; /* header背景 */
  --background: #fffffe; /* sidebar背景 */
  --background: #fffffe; /* content背景 */
  --headline: #2b2c34; /* 見出し */
  --paragraph: #2b2c34; /* 文章 */
  --button: #6246ea; /* ボタン */
  --button-text: #fffffe; /* ボタンテキスト */
  --link: #6246ea; /* リンク */
}

/* リセット */
body {
  margin: 0;
}

img,
i {
  vertical-align: middle;
}

/* 共通 */

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll; /* スクロールバーを常に表示 */
}

body {
  color: var(--paragraph);
}

h1,
h2,
h3 {
  color: var(--headline);
}

a {
  text-decoration: none;
  color: var(--paragraph);
}

a:hover {
  color: var(--link);
}

/* button {
  background-color: var(--button);
  color: var(--button-text);
} */

/* clear */
.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

/* ------------------------- */

/* header */

/* main */

.main-wrapper {
  display: flex;
}

/* sidebar */

.sidebar-wrapper {
  background-color: #efeff1;
  width: 280px; /* 仮 */
  height: 2000px; /* 仮 */
}

/* content */

.content-wrapper {
  background-color: #f7f7f8;
  width: 100%;
  height: 2000px;
}

/* clip */

.clip {
  .play {
    width: 100%;
    aspect-ratio: 40 / 19;
  }
  .explanation {
    border-bottom: 1px solid #dddddd;
  }
}

/* 検索バー */
.search-box {
  display: flex;
  width: 100%;
}

.search-box input[type="text"] {
  flex-grow: 1;
  padding: 0.7rem 0 0.7rem 0.8rem;
  border: 1px solid #333947;
  border-radius: 1.5rem 0 0 1.5rem;
}

.search-box button {
  cursor: pointer;
  padding: 0.8rem 0.9rem 0.8rem 0.8rem;
  border-radius: 0 1.5rem 1.5rem 0;
  border: none;
  background-color: #333947;
  color: #fff;
  font-size: 0.75rem;
}

.search-box input:focus {
  outline: 0;
  border: 1px solid #4ab6f6;
}

.search-box button:hover {
  color: #4ab6f6;
}
