/* 色の定義 */
:root {
  --background: #fffffe; /* header背景 */
  --background: #fffffe; /* sidebar背景 */
  --background: #fffffe; /* content背景 */
  --headline: #2b2c34; /* 見出し */
  --paragraph: #2b2c34; /* 文章 */
  --button: #6246ea; /* ボタン */
  --button-text: #fffffe; /* ボタンテキスト */
  --link: #6246ea; /* リンク */
  --point: #e45858; /*差し色として  */
}

/* リセット */
body {
  margin: 0;
}

img,
i {
  vertical-align: middle;
}

/* 共通 */

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll; /* スクロールバーを常に表示 */
}

body {
  color: var(--paragraph);
}

h1,
h2,
h3 {
  color: var(--headline);
}

a {
  text-decoration: none;
  color: var(--paragraph);
}

a:hover {
  color: var(--link);
}

/* button {
  background-color: var(--button);
  color: var(--button-text);
} */

/* clear */
.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

/* ------------------------- */

/* headerの固定 */
.body-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-wrapper {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  border-bottom: 2px solid rgba(43, 44, 52, 0.1);
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-weight: bold;
}

.header-element {
  margin-left: 15px;
}

.logout {
  cursor: pointer;
}

.logout:hover {
  color: var(--link);
}

/* main */

.main-wrapper {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

/* sidebarの固定 */
.sidebar-wrapper {
  align-items: flex-start;
}

.sidebar {
  position: sticky;
  z-index: 99;
  top: 82px;
  width: 100%;
}

/* sidebar */

.sidebar-wrapper {
  background-color: #efeff1;
  width: 280px; /* 仮 */
  box-shadow: inset 5px 0px 0px 0px var(--button); /* 内側ボーダー */
}
.sidebar-wrapper ul {
  margin: 0;
  padding: 0;
}

.side-element {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.side-element p {
  margin-top: 0px;

  font-size: 1.2em; /* フォントサイズを大きく */
  font-weight: bold; /* フォントを太く */
  color: #333; /* フォントカラーを濃く */
}

.rounded-image {
  margin-bottom: 10px; /* アイコンと名前の間の余白 */

  width: 70px; /* アイコンのサイズを大きく */
  height: 70px; /* アイコンのサイズを大きく */
  border: 2px solid #ccc; /* 枠線を追加（オプション） */
}

/* サイドバーのリスト */

.nav {
  width: 60%;
  margin: 0 auto;
}

li {
  list-style: none;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.fa-solid {
  font-size: 25px;
  color: var(--paragraph);
}

.fa-heatrt {
  margin-right: 10px;
}

.list-item {
  border-bottom: 1px solid rgba(43, 44, 52, 0.1);
  padding: 10px 0px;
  color: var(--paragraph);
  cursor: pointer;

  transition:
    background-color 0.3s,
    border-radius 0.3s,
    padding-left 0.3s;
}

.list-item:hover {
  background-color: #e9e8e8;
  border-radius: 15px;
  padding-left: 10px;
}

.side-list {
  margin-top: 10px;

  padding-left: 20px;
  padding-right: 20px;
}

/* リストのアイコン */
.side-list .list-item {
  display: flex;
  align-items: center; /* アイテムを中央揃えに */
  margin-bottom: 10px; /* リストアイテム間の余白 */
}

.follow-icon {
  width: 40px; /* アイコンのサイズを小さく */
  height: 40px; /* アイコンのサイズを小さく */
  border-radius: 50%; /* アイコンを円形に */
  border: 1px solid grey; /* アイコンの枠線をグレーに */
  margin-right: 10px; /* アイコンと名前の間に余白 */
}

.active {
  border-radius: 50%; /* 角を完全に丸くする */
  background-color: rgba(204, 204, 206, 0.1);
  color: var(--button);

  font-size: 27px;
}

.rounded-image {
  border-radius: 50%; /* 画像を円形にする */
}

/* content */

.content-wrapper {
  background-color: #f7f7f8;
  width: 100%;
}

/* 検索バー */
.search-box {
  display: flex;
  width: 50%;
  height: 75%;
}

.search-box input[type="text"] {
  flex-grow: 1;
  padding: 0.7rem 0 0.7rem 0.8rem;
  border: 1px solid var(--paragraph);
  border-radius: 1.5rem 0 0 1.5rem;
}

.search-box button {
  cursor: pointer;
  padding: 0.8rem 0.9rem 0.8rem 0.8rem;
  border-radius: 0 1.5rem 1.5rem 0;
  border: none;
  background-color: var(--button);

  color: #fff;
  font-size: 0.75rem;
}

.search-box input:focus {
  outline: 0;
  border: 1px solid var(--button);
}

.search-box button:hover {
  color: #4ab6f6;
}

/* user_playlist */
.playlists-name {
  margin-left: 125px;
  margin-top: 25px;
  margin-bottom: 30px;
  letter-spacing: 0.05em;

  span {
    font-size: 46px;
    font-weight: bold;
    padding-right: 3px;
  }
}

.playlists-tab {
  display: flex;
  gap: 15px;
  margin-left: 125px;
  margin-bottom: 0px;
}

.playlists-tab button {
  height: 32px;
  padding: 0px 10px 0px 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #6246ea;
  color: white;
  display: block;
  margin-bottom: 30px;
}

.tab-button:hover {
  background-color: #5236da;
}

.tab-button.active {
  /* アクティブなタブのスタイル */
  border-bottom: 3px solid #e45858; /* アクティブ時のボーダー */
}

.playlists-main {
  background-color: #e8e8ea;
  padding-top: 30px;
  border-top: 1px solid rgba(43, 44, 52, 0.1);
  min-height: 100vh;
}
