.clip {
  display: flex;

  .mainArea {
    float: left;
    width: 100%;
    padding: 20px 0px 20px 20px;

    .play {
      width: 100%;
      aspect-ratio: 40 / 19;
    }

    .operation {
      padding-top: 15px;
      padding-right: 10px;
      float: right;
      .moveButton {
        height: 32px;
        padding: 0px 30px 0px 30px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        margin-right: 15px;
        border-radius: 5px;
        background-color: #6246ea;
        color: white;
      }

      .moveButton:hover {
        background-color: #5236da;
      }
    }

    .detail {
      padding-top: 15px;
      padding-right: 25px;
      float: right;
      .xShareButton {
        height: 32px;
        padding: 0px 10px 0px 10px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        margin-right: 15px;
        border-radius: 5px;
        color: var(--paragraph);
        background-color: #e7e7ea;
      }
      .xShareButton:hover {
        background-color: #d7d7da;
      }

      .addClipButton {
        height: 32px;
        padding: 0px 10px 0px 10px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        margin-right: 15px;
        border-radius: 5px;
        color: var(--paragraph);
        background-color: #e7e7ea;
      }
      .addClipButton:hover {
        background-color: #d7d7da;
      }
    }

    .explanation {
      padding: 15px;
      border-bottom: 1px solid #ddd;

      .title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
      }

      .otherInfo {
        float: left;
        padding-top: 10px;
        font-size: 15px;
        .gameTitle {
          color: var(--link);
          cursor: pointer;
        }
        .gameTitle:hover {
          text-decoration: underline;
        }

        .viewCount {
          color: #555;
        }
      }
    }

    .broadcaster {
      padding: 15px;
      display: flex;
      align-items: center;
    }
  }

  .playlistArea {
    float: right;
    width: 550px;
    padding: 20px;

    .playlist {
      padding: 10px 0px 10px 0px;
      background-color: var(--background);
      border: 1px solid #eeeeee;
      border-radius: 5px;

      .h2 {
        padding: 5px 20px 30px 20px;
        margin: 0px;
        font-size: 18px;
      }

      .eachClip {
        padding: 6px;
        cursor: pointer;

        .left {
          padding-left: 15px;
          float: left;
        }

        .right {
          .info {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            .title {
              padding: 8px 3px 3px 3px;
              margin: 0px;
              font-weight: bold;
              font-size: 14px;
              line-height: 14px;
            }
            .broadcaster {
              padding: 3px;
              margin: 0px;
              font-size: 12px;
              line-height: 12px;
            }
          }
        }
      }

      .eachClip:hover {
        background-color: lightgrey;
      }
    }
  }
}

.active {
  background-color: lightgrey;
}

.favoriteArea {
  padding: 20px;
  .favorited {
    float: right;
    .heartBackground {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      cursor: pointer;
      background-color: #ffeaf4;
      display: flex;
      justify-content: center;
      align-items: center;
      .heart {
        font-size: 28px;
        color: #f76685;
      }
    }
  }

  .unfavorited {
    float: right;
    .heartBackground {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      cursor: pointer;
      background-color: #edf2f7;
      color: #8f9faa;
      display: flex;
      justify-content: center;
      align-items: center;
      .heart {
        font-size: 28px;
      }
    }
    .heartBackground:hover {
      background-color: #dde2e7;
    }
  }
}

.video {
  border: none;
  border-radius: 5px;
}

.broadcaster_image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  .broadcaster_image_background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    .broadcaster_image {
      border-radius: 100%;
      border: 2px solid var(--link);
      height: 100%;
      width: 100%;
      transition: all 0.05s;
      box-sizing: content-box;
    }
    .broadcaster_image:hover {
      border: 4px solid var(--link);
    }
  }
}

.name {
  padding-left: 12px;
  font-size: 18px;
  font-weight: 600;
}

.icon {
  font-size: 20px;
  padding-right: 7px;
}

.modalTitle {
  padding-bottom: 18px;
}

.addPlaylistCandidate {
  cursor: pointer;
  padding-bottom: 10px;
  font-size: 15px;
}

.addPlaylistCandidate:hover {
  text-decoration: underline;
}

.createPlaylist {
  padding-top: 18px;
  cursor: pointer;
  font-size: 15px;
}

.createPlaylist:hover {
  text-decoration: underline;
}

.modalIcon {
  font-size: 15px;
  padding-right: 10px;
}

.modalIconMini {
  font-size: 4px;
  padding-right: 12px;
}
