.playlists {
  display: flex;

  .operation {
    .chevronLeft {
      height: 100px;
      width: 40px;
      font-size: 20px;
      border: none;
      border-radius: 10px;
      background-color: #f7f7f8;
      cursor: pointer;
    }

    .chevronLeft:hover {
      background-color: #d7d7d8;
    }

    .chevronRight {
      height: 100px;
      width: 40px;
      font-size: 20px;
      border: none;
      border-radius: 10px;
      background-color: #f7f7f8;
      cursor: pointer;
    }

    .chevronRight:hover {
      background-color: #d7d7d8;
    }
  }
}

.row {
  float: left;
  width: 30%;
  padding: 10px;

  .playlist {
    padding-bottom: 50px;
    padding-right: 10px;
    height: 150px;

    .left {
      float: left;
      padding-right: 20px;
      position: relative;

      .playlistImage {
        height: 140px;
        width: 235px;
        .img {
          height: 120px;
          position: absolute;
          top: 10px;
          z-index: 3;
        }

        .shadow1 {
          height: 120px;
          width: 215px;
          background-color: #333;
          border: 1px solid #000000;
          position: absolute;
          top: 0px;
          left: 10px;
          z-index: 2;
        }

        .shadow2 {
          height: 120px;
          width: 215px;
          background-color: #333;
          border: 1px solid #000000;
          position: absolute;
          top: -10px;
          left: 20px;
          z-index: 1;
        }

        .clipCount {
          height: 20px;
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          border-radius: 4px;
          background-color: rgba(0, 0, 0, 0.4);
          color: white;
          position: absolute;
          bottom: 12px;
          right: 45px;
          z-index: 4;
        }
      }
    }

    .right {
      .listId {
        padding-top: 10px;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
        overflow-wrap: break-word;
      }

      .favoritesCount {
        margin: 0px;
        font-size: 14px;
        line-height: 14px;
        display: flex;

        .count {
          padding-left: 5px;
        }
      }

      .createdAt {
        padding-top: 6px;
        margin: 0px;
        font-size: 14px;
        line-height: 14px;
      }
      .updatedAt {
        padding-top: 6px;
        margin: 0px;
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
}

.operation {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
