.clip {
  display: flex;

  .mainArea {
    float: left;
    width: 100%;
    padding: 20px 0px 20px 20px;

    .play {
      width: 100%;
      aspect-ratio: 40 / 19;
    }

    .operation {
      padding-top: 15px;
      padding-right: 10px;
      float: right;
      .moveButton {
        height: 32px;
        padding: 0px 10px 0px 10px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        margin-right: 10px;
        border-radius: 5px;
      }

      .moveButton:hover {
        background-color: #5236da;
      }
    }

    .detail {
      padding-top: 15px;
      padding-right: 10px;
      float: right;
      .xShareButton {
        height: 32px;
        padding: 0px 10px 0px 10px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        margin-right: 10px;
        border-radius: 5px;
        color: var(--paragraph);
        background-color: #e7e7ea;
      }
      .xShareButton:hover {
        background-color: #d7d7da;
      }
    }

    .explanation {
      padding: 15px;
      border-bottom: 1px solid #ddd;

      .title {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
      }

      .viewCount {
        float: left;
        padding-top: 10px;
        font-size: 15px;
        color: #555;
      }
    }

    .broadcaster {
      padding: 15px;
    }
  }

  .playlistArea {
    float: right;
    width: 550px;
    padding: 20px;

    .playlist {
      padding: 10px;
      background-color: var(--background);
      border: 1px solid #eeeeee;
      border-radius: 10px;

      .h2 {
        padding: 10px;
        margin: 0px;
      }

      .eachClip {
        padding: 8px;
        cursor: pointer;

        .left {
          float: left;
        }

        .right {
          .info {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            .title {
              padding: 8px 3px 3px 3px;
              margin: 0px;
              font-weight: bold;
              font-size: 14px;
              line-height: 14px;
            }
            .broadcaster {
              padding: 3px;
              margin: 0px;
              font-size: 12px;
              line-height: 12px;
            }
          }
        }
      }

      .eachClip:hover {
        background-color: lightgrey;
      }
    }
  }
}

.active {
  background-color: lightgrey;
}
